/*contenedor padre*/
#f-section{
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*contenedor de las tarjetas*/
#cont-element{
    background: rgb(0, 0, 0);
    color: white;
    width: 1000px;
    height: 400px;
    padding: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.element{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.element img{
    width: 120px;
}

/*tarjetas */