body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#mensajes{
    height: 80vh;
    width: 100%;
    background: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#cont-msj{
    background: white;
    width: 80vw;
    min-height: 70vh;
    border-radius: 5px;
}