body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width:100%;
    height: 100vh;
    position: relative;
    
}

/*boton de regreso*/
#bakc-b{
    width: 120px;
    position: absolute;
    top: 5px;
    left: 5px;
}

/*atributos compartidos de los cuados blanco y negro*/
.cont{
    width:100%;
    height: 100vh;
}
/*cuadro balnco y negro*/
.white-c{
    background: whitesmoke;
}

.black-c{
    background: black;
}

#texto-imagen{
    width: 250px;
}
/*contenedor de nuestro formulario e imagen*/
#register{
    width:70vw;
    height: 70vh;
    position: absolute;
    left: 15%;
    top: 15%;

    display: flex;
    flex-direction: row;
}

/*Contenedor del contenedor de nuestro formulario*/
.form{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    height: 100%;
}

/*contenedor del formulario*/
#form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*elementos de nuestro formulario*/
#form-container #form{
    margin-top: -20%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#name-f,#lastname-f{
    border: none;
    border-bottom: 1px solid black;
    width: 200px;
    height: 20px;
    margin-bottom: 20px;
}

#lastname-f{
    margin-left: 5px;
    
}

#username, #passw{
    border: none;
    border-bottom: 1px solid black;
    width: 95%;
    height: 20px;
    margin-bottom: 20px;
}



#register-B{
    width: 200px;
    height: 40px;
    color: black;
    font-size: 14px;
}

/*contenedor blanco*/
.image{
    border-right:1px solid white ;
    background: rgb(0,0,0);
    background: linear-gradient(18  0deg, rgba(0,0,0,1) 67%, rgba(115,115,115,1) 97%, rgba(217,217,217,1) 100%);
    border-bottom-right-radius:8px;
    border-top-right-radius:8px ;
    width: 100%;
    height: 100%;
}

input{
    background: transparent;
}

